
<template>
  <div>
   <div :class="{sidebar:true, isOpen:isOpen}">
   <div class="d-flex">
     <div class="header">
     <a class="action-header" v-on:click="mouseOver"><span v-if="isOpen" class="mdi mdi-chevron-left"></span><span v-else class="mdi mdi-chevron-right"></span></a>
      <h1  class="header-text">Bigger</h1>
     
     </div>

     <div class="toolbar">

  </div>
</div>


     <div class="menu">  
          <a   class="menu-item active"><span class="mdi mdi-home-outline mr-2"></span><span class="menu-text">Dashboard</span></a>
          <a   class="menu-item "><span class="mdi mdi-currency-usd mr-2"></span><span class="menu-text">Revenue</span></a>
          <a   class="menu-item "><span class="mdi mdi-cart-outline mr-2"></span><span class="menu-text">Expenses</span></a>
          <a   class="menu-item "><span class="mdi mdi-clipboard-outline mr-2"></span><span class="menu-text">Reminders</span></a>
       
     </div>
   </div>
  </div>

  
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      isOpen: true
    }
  },
  methods: {
    mouseOver: function(){
      this.isOpen = !this.isOpen;
    }
  
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>



</style>
