.sidebar {
  position: fixed;
  width: 83px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 1em 1em 0 1em;
}

.sidebar .header {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 1rem;
  background-color: white;
  width: 200px;
  -webkit-box-shadow: 20px 20px 20px rgba(103, 99, 99, 0.1);
          box-shadow: 20px 20px 20px rgba(103, 99, 99, 0.1);
  border-radius: 30px;
}

.sidebar .header .action-header {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  text-align: left;
  padding-left: 1rem;
  border-radius: 30px;
  background-color: #E6212A;
  color: #eee;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 1rem;
  text-align: center;
}

.sidebar .header .header-text {
  font-size: 1.5rem;
  text-align: center;
  display: none;
  overflow: hidden;
  margin-left: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar .menu {
  position: relative;
  background-color: #424242;
  margin-top: 1rem;
  border-radius: 30px;
  padding: 1rem;
}

.sidebar .menu .menu-item {
  margin-bottom: 5px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  text-align: left;
  padding-left: 1rem;
  border-radius: 30px;
  background-color: #424242;
  color: #eee;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sidebar .menu .menu-item span {
  margin-right: 10px;
}

.sidebar .menu .menu-item:hover {
  background-color: #929292;
}

.sidebar .menu .menu-text {
  display: none;
}

.sidebar .menu .menu-item.active {
  background-color: #bbb;
  color: #424242;
}

.sidebar.isOpen {
  width: 200px;
}

.sidebar.isOpen .menu-text {
  display: inline-block;
}

.sidebar.isOpen .header-text {
  display: inline-block;
}
/*# sourceMappingURL=admin.css.map */