$dark-color: #424242;
$primary: #E6212A;
$primary-light: #d4888c;
$secondary-color: #4DCEE1;

.sidebar{
  position: fixed;
  width: 83px;
  transition: all 0.5s;
    margin: 1em 1em 0 1em;

    .header{
      transition: all 0.5s;
      display: flex;
      align-items: center;
      padding: .5rem 1rem;
      background-color: white;
        width: 200px;
        box-shadow: 20px 20px 20px rgba(103, 99, 99, 0.1);
        border-radius: 30px;

        .action-header{
          text-decoration: none;
          display: flex;
          overflow: hidden;
          align-items: center;
          height: 50px;
          width: 50px;
          text-align: left;
          padding-left: 1rem;       
          border-radius: 30px;
          background-color: $primary;
          color: #eee;
          cursor: pointer;
          transition: all .5s;
          font-size: 1rem;
          text-align: center;
        }

        .header-text{
          font-size: 1.5rem;
          text-align: center;
          display: none;
          overflow: hidden;
          margin-left: 1rem;
          transition: all 0.5s;
        }
        
    }

    .menu{
      position: relative;
      background-color: $dark-color;
      margin-top: 1rem;
      border-radius: 30px;
      padding: 1rem;

      .menu-item{
        margin-bottom: 5px;
        text-decoration: none;
        display: flex;
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        text-align: left;
        padding-left: 1rem;       
        border-radius: 30px;
        background-color: $dark-color;
        color: #eee;
        cursor: pointer;
        transition: all .5s;

        span{
          margin-right: 10px;
        }

      }
      
        .menu-item:hover{
          background-color: #929292;
        }

        .menu-text{
          display: none;
        }

    

        .menu-item.active{
  
          background-color: #bbb;
        color: $dark-color;

        }

        
  
        }

       
    }

    .sidebar.isOpen{
      width: 200px;

      .menu-text{
        display: inline-block;
      }

      .header-text{
        display: inline-block;
      }
    }

    
