<template>
  <Base />
</template>

<script>
import Base from './components/admin/base.vue'

export default {
  name: 'App',
  components: {
    Base
  }
}
</script>

<style>
#app {
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  
}
</style>
